HappyNation/.vs/
HappyNation/HappyNation/bin/
HappyNation/HappyNation/obj/
HappyNation/HappyNationApp/obj/Debug/HappyNationApp.csproj.FileListAbsolute.txt
HappyNation/HappyNationApp/obj/Debug/HappyNationApp.csproj.CopyComplete
HappyNation/HappyNationApp/obj/Debug/HappyNationApp.Properties.Resources.resources
HappyNation/HappyNationApp/obj/Debug/App.g.i.cs
HappyNation/HappyNationApp/obj/Debug/App.g.cs
HappyNation/HappyNationApp/obj/Debug/MainWindow.g.i.cs
HappyNation/HappyNationApp/obj/Debug/MainWindow.g.cs
HappyNation/HappyNationApp/obj/Debug/MainWindow.baml
HappyNation/HappyNationApp/obj/Debug/HappyNationApp_MarkupCompile.lref
HappyNation/HappyNationApp/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
HappyNation/HappyNationApp/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
HappyNation/HappyNationApp/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
HappyNation/HappyNationApp/bin/Debug/HappyNationApp.exe.config
HappyNation/HappyNationApp/obj/Debug/HappyNationApp.g.resources
HappyNation/HappyNationApp/obj/Debug/HappyNationApp.csproj.HappyNationApp.exe.config
HappyNation/HappyNationApp/obj/Debug/HappyNationApp_MarkupCompile.i.lref
HappyNation/HappyNationConsole/obj/project.assets.json
HappyNation/HappyNationConsole/obj/HappyNationConsole.csproj.nuget.g.targets
HappyNation/HappyNationConsole/obj/HappyNationConsole.csproj.nuget.g.props
HappyNation/HappyNationConsole/obj/Debug/netcoreapp2.0/HappyNationConsole.csproj.FileListAbsolute.txt
HappyNation/HappyNationConsole/obj/Debug/netcoreapp2.0/HappyNationConsole.csproj.CopyComplete
HappyNation/HappyNationConsole/obj/Debug/netcoreapp2.0/HappyNationConsole.AssemblyInfo.cs
HappyNation/HappyNationConsole/bin/Debug/netcoreapp2.0/HappyNationConsole.runtimeconfig.dev.json
HappyNation/HappyNationConsole/bin/Debug/netcoreapp2.0/HappyNationConsole.deps.json
HappyNation/HappyNationConsole/bin/Debug/netcoreapp2.0/HappyNationConsole.runtimeconfig.json
